:root {
  --primary-gray: #808080;
  --primary-blue: #0091d2;
  --dark-blue: #004f7d;
  --secondary-blue: #0081c6;
}

.App {
  text-align: center;
}

.App-header {
  background: var(--primary-gray);
  display: flex;
  padding: 1rem 10%;
}

.logo-container {
  max-width: 350px;
}

.App-logo {
  width: 100%;
}
